/*flexbox settings*/

.main-container {
  display: flex;
}

.side-container {
  flex-basis: 30%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.img-container {
  align-items: center;
  justify-content: center;
}


* {
  box-sizing: border-box;
}


/*navbar main*/
body {margin:0;}

#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
}

.icon-bar {
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  bottom: 75;
  position: fixed;
  
}

.icon-bar a {
  float: left;
  width: 25%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: black;
  font-size: 40px;
  
}

.icon-bar a:hover {
  background-color:none;
  
}

.active {
  background-color: none;
}

.headshot {
  background-color:transparent;
  width: 300px;
  height:300px;
  padding: 10px;
  border-radius: 50%;
  display: none;
}


.fontTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 80;
  margin: 10px;
  display: none;
}

.fontSubTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 50;
  margin: 10px;
  display: none;
}