/*flexbox settings*/

.main-container {
  display: flex;
  margin:10px;
  flex-flow: row wrap;
  align-items: flex-start;
}

.left-side-container {
  flex-basis: 500px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.right-side-container {
  flex-basis: 1100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.img-container {
  align-items: center;
  justify-content: center;
}

.flex-container {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

* {
  box-sizing: border-box;
}


/*navbar main*/
body {margin: 0;}

#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
}

.icon-bar {
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  bottom: 40;
  position: fixed;
  display: flex;
}

.icon-bar a {
  width: 25%;
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
  color: black;
  font-size: 40px;
  
}

.icon-bar a:hover {
  background-color:none;
  
}

.active {
  background-color: none;
}

.headshot {
  background-color:transparent;
  width: 250px;
  height:250px;
  padding: 10px;
  border-radius: 50%;
  display: none;
}


.fontTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 60;
  margin: 10px;
  display: none;
}

.fontSubTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 40;
  margin: 10px;
  display: none;
}

.fontRegular {
  font-family: 'Raleway', sans-serif;
  font-size: 25;
  margin: 5px;
  display: none;
}

.skillsFont {
  font-family: 'Raleway', sans-serif;
  font-size: 16;
  margin: 5px;
}

.skillsIcon {
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: black;
  font-size: 150px;
}

.flexWrapRow {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.justifyleft {
  justify-content: flex-start;
}