.navbuffer {
    padding-left: 2%;
    padding-right: 2%;
}

.balootext {
    font-family: 'Baloo Bhaijaan', cursive;
}

.maincontainer {
    margin-top: 30px;
}

.whitetext {
    color: white
}

#cardtitletext {
    color: black;
    font-size: 40px;
}